<!doctype html>
<html lang="en">
  <head>
    <title>Давай меняться!</title>
    <H1>Сервис Давай Меняться</H1>
    <meta charset="utf-8">
  </head>
  <div>
  <nav>
      <div>
        <ul>
          {% if user.is_authenticated %}
          <li>
            <a  href="{% url 'ads' %}">Предметы для обмена</a>
          </li>
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li>
            <a href="/login/">Login</a>
          </li>
          <li>
            <a href="/users/create/">Sign up</a>
          </li>
          {% endif %}
        </ul>
  </nav>
  </div>

  <body>
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li> {{ message }} </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% block content %}{% endblock %}
  </body>

  </html>