<!doctype html>
<html lang="en">
  <head>
    <title>Давай меняться!</title>
    <meta charset="utf-8">
  </head>
  <div class="container ml-6 pl-6">
  <nav>
      <div>
        <ul>
          {% if user.is_authenticated %}
          <li>
            <a href="/users/">Пользователи</a>
          </li>
          {% else %}
          <li>
            <a href="/login/">Login</a>
          </li>
          <li>
            <a href="/users/create/">Sign up</a>
          </li>
          {% endif %}
        </ul>
  </nav>
  </div>

  <body>
    {% block content %}{% endblock %}
  </body>

  </html>