{% if messages %}
<ul>
    {% for message in messages %}
    <li> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

<h2>Предметы {{ user.first_name }} {{ user.last_name }}</h2>
<br>
<div>
    <a role="button" href="{% url 'ad_create' %}">Добавить предмет</a>
</div>
<div>
    <table>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Изображение</th>
            <th>Категория</th>
            <th>Состояние</th>
            <th>Дата добавления</th>
        </tr>
        {% for ad in user.ad.all %}
        <tr>
            <td>{{ user.ad.title }}</td>
            <td>{{ user.ad.description }}</td>
            <td>{{ user.ad.image_url }}</td>
            <td>{{ user.ad.category_id }}</td>
            <td>{{ user.ad.condition }}</td>
            <td>{{ user.ad.created_at }}</td>
        </td>
        {% endfor %}
    </table>
    <br>
</div>
<hr>


