{% extends "base.html" %}

{% block content %}
<br>
<br>
<hr>
<div>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
          </tr>
        </thead>
        <tbody>
          {% for user in user_list %}
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td><a href="{% url 'user_detail' user.pk %}">{{ user.first_name }}</a></td>
            <td><a href="{% url 'user_detail' user.pk %}">{{ user.last_name }}</a></td>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}