{% extends "base.html" %}

{% block content %}
<h2>Предметы {{ user.first_name }} {{ user.last_name }}</h2>
<br>
<div>
    <a role="button" href="{% url 'ad_create' %}">Добавить предмет</a>
</div>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>CATEGORY</th>
            <th>IMAGE URL</th>
            <th>CONDITION</th>
            <th>CREATE DATE</th>
        </tr>
        {% for ad in user.ads.all %}
        <tr>
            <th scope="row">{{ ad.id }}</th>
            <td><a role="button" href="{% url 'ad_detail' %}">{{ ad.title }}</a></td>
            <td>{{ ad.image_url|default_if_none:"" }}</td>
            <td>{{ ad.category.name }}</td>
            <td>{{ ad.condition|default_if_none:"" }}</td>
            <td>{{ ad.created_at }}</td>
        </td>
        {% endfor %}
    </table>
    <br>
</div>
<hr>
{% endblock %}


