{% extends "base.html" %}

{% block content %}
<br>
<br>
<hr>
<div>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>CATEGORY</th>
            <th>IMAGE URL</th>
            <th>CONDITION</th>
            <th>CREATE DATE</th>
          </tr>
        </thead>
        <tbody>
          {% for ad in ad_list %}
          <tr>
            <th scope="row">{{ ad.id }}</th>
            <td><a role="button" href="{% url 'ad_detail' %}">{{ ad.title }}</a></td>
            <td>{{ ad.category }}</td>
            <td>{{ ad.image_url|default_if_none:"" }}</td>
            <td>{{ ad.condition|default_if_none:"" }}</td>
            <td>{{ ad.create_at }}</td>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}